*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    transition: opacity 0.5s ease-in-out;
}
#title{
    position: fixed;
    font-size: 6em;
    top: 0.5em;
}